@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgba(29, 29, 29,0.8), rgba(29, 29, 29,0.8) ),url(/img/fundopizza.jpg);
  background-position: center center;
background-size: cover;
background-repeat: no-repeat;
min-height: 100vh;
display: flex;
font-family: 'Roboto', sans-serif;
align-items: center;
justify-content: center;
flex-direction: column;

  padding-right: 1rem;
  padding-left: 1rem;
}

h1 {
  font-size: 2rem;
  color: #fff;
  margin: 10px;
  text-align: center;
  line-height: 1;
}




.form {
  width: 100%;
  max-width: 30rem;
  font-size: 1.125rem;

}

.form label,
.form input,
.form textarea,
.form button {
  display: block;
  width: 100%;
  color: #fff;
}

.form label {
  color: #fff;
  line-height: 1;
  margin-bottom: 0.5rem;
}

.form input,
.form textarea {
  font: inherit;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 30px;
  transition: border-color, box-shadow 0.2s;
  background-color:#242424;
}

.form textarea {
  min-height: 10rem;
  resize: vertical;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {
  outline: none;
  border-color: #ffc506;
  box-shadow: 0 0 0 2px #ffc506;
  margin-top: 5px;
}

.form button {
  display: block;
  padding: 1rem;
  background: #ffc506;
  color: #fff;
  font: inherit;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.form button:hover,
.form button:focus {
  outline: none;
  background: #fff;
  color: black;
}